{% extends "layout.html" %}
{% block body %}
<head><title>Thank You!</title></head>

<body>
  <br></br>
  <br></br>
  <br></br>
  
 
    <section id="ucs" class="ucs">
      <div class="container" data-aos="zoom-in">

<div class="page-header d-flex align-items-center">
          <div class="container position-relative">
            <div class="row d-flex justify-content-center">

        <div class="text-center">
          <h2>Done!</h2>
          <p class="fst-italic py-3 justify-content-center">Your feedback has been sent successfully. Thank you!</p>
          <!--<a class="ucs-btn" href="/" >Go to Homepage</a>-->
        </div>

 </div>
    </div>
  </div>

      </div>
    </section>
    <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            
            <a href="/contact" class="btn-get-started">Back</a>
          </div>
        </div>
      </div>
    </section>

</body>
<br><br><br><br><br><br>
{%endblock%}